@model List<Comment>
<section id="blog-comments" class="blog-comments section">

    <div class="container">

        <h4 class="comments-count">@Model.Count Comments</h4>
        @foreach (var item in Model)
        {
            <div id="comment-1" class="comment">
                <div class="d-flex">
                    <div class="comment-img"><img src="@item.AppUser.ImageUrl" alt=""></div>
                    <div>
                        <h5><a href="">@item.AppUser.Name @item.AppUser.Surname</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">@item.CommentDate.ToString("dd-MMM-yy")</time>
                        <p>
                            @item.CommentDetail
                        </p>
                    </div>
                </div>
            </div>
        }
       
    </div>

</section>